/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.

*/
#title {
  margin-top: 1rem;
}

a.text-dark  {
  color: #1F4C4C !important;
}

a.text-light  {
  color: #BCB49E !important;
}

.text-green  {
  color: #719F94;
}

.btn-link {
    color: #941120 !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border-radius: 0px;
    padding: 10px;
    border-color: white;
    border-top: 1px solid #BCB49E !important; }
